@charset "UTF-8";
:root {
    --white-color:#fff;
}
.skipNavigation {
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:0;
    height:0;
}
.wrap {
    height:100vh;
}
.header {
    display:flex;
    align-items:center;
    justify-content: space-between;
    position:fixed;
    top:0;
    left:0;
    padding:2rem 4rem;
    width:100%;
    background-color:transparent;
    &.on {
        border-bottom:1px solid #ddd;
        background-color:var(--white-color);
    }
    .logo-main {
        display:block;
        width:20rem;
        img {
            width:100%;
        }
    }
    .nav {
        ul {
            display:flex;
            align-items:center;
        }
        li + li {
            margin-left:3.6rem
        }
        a {
            font-family: "Roboto", sans-serif;
            font-size:2rem
        }
    }
    & + .section {
        padding-top: 11.4rem;
    }
}
.section {
    height:100vh;
}